@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fffde7; /* Light primary-50 */
}

::-webkit-scrollbar-thumb {
  background: #70747f; /* Secondary-400 */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #545866; /* Secondary-500 */
}

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-track {
  background: #1c1e27; /* Secondary-800 */
}

.dark ::-webkit-scrollbar-thumb {
  background: #37384c; /* Secondary-600 */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #545866; /* Secondary-500 */
}